*{
    box-sizing: border-box;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

.body{
    width: 670px;
    height: 960px;
    background: #FFFFFF;
    border: 1px solid #AACDFF;
    box-sizing: border-box;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    border-radius: 20px;
}

.loginform{
    margin: 60px;
}

.name{
    font-size: 32px;
    line-height: 47px;
    color: #0068FF;
    margin: 10px;
    /* padding: 30px 50px 0 ; */
    
}

.emailForm{
    /* padding: 0 50px; */
    /* color: #797979; */
    /* font-size: 14px; */
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 7px;
    width: 380px;
    height: 60px;
    margin-top: 40px;
    margin-left: 80px;
    /* margin-bottom: 80px; */
    margin-right: 80px;
}

.email{
    width: 500px;
    border: 1px solid #0068FF;
    border:none;
    outline:none;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
}

.idForm{
    /* padding: 0 50px; */
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 7px;
    margin: 20px;
    width: 380px;
    height: 60px;
    margin-left: 80px;
}

.id{
    width: 500px;
    border:none;
    outline:none;
    margin-bottom: 10px;
    color: #797979;
}

.pwForm{
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 7px;
    margin: 20px;
    width: 380px;
    height: 60px;
    margin-left: 80px;
}

.pwForm2{
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 7px;
    /* margin: 80px; */
    margin: 20px;
    margin-left: 80px;
    width: 380px;
    height: 60px;
}

.pw1, .pw2{
    width: 500px;
    border: 1px solid #0068FF;
    border:none;
    outline:none;
    margin-bottom: 10px;
}


.pb{
    width: 140px;
    height: 23.94px;
    font-size: 20px;
    /* left: 890px; */
    /* top: 719px;  */
    margin-left: 200px;   
}

.check{
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 75px;
}

.button {
    background: #FFFFFF;
    border: 1px solid #0068FF;
    box-sizing: border-box;
    border-radius: 10px;
    width: 470px;
    height: 75px;
    margin-top: 20px;
    margin-left: 30px;
    
}

.phonenumber{
    width: 100%;
    padding: 30px;
    
}

.phone1, .phone2, .phone3{
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 7px;
    width: 30%;
}

.area{
    width: 80%;
    display: flex;
    margin: 30px;
    margin-left: 80px;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 7px;     
    width: 380px;
    height: 60px;                               
}

.auth{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.authnumber{
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #0068FF;
    padding-right: 30px;
}

.authbutton{
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 7px;
    border-radius: 7px;
    width: 120px;
    height: 40px;
}

.authnumberbox{
    display: flex;
    flex-direction: row;

}

.sec{
    display: flex;
    flex-direction: row;
}

.finish{
    background: #0068FF;
    width: 120px;
    height: 40px;
}

.authbutton, .finish{

}